pydantic
fastapi
uvicorn
the-grand-house-of-avneesh
dotenv
aiohttp
tavily-python

torch==2.6.0 
torchvision==0.21.0 
torchaudio==2.6.0 
# Use this index URL to ensure CPU-only wheels are fetched
--extra-index-url https://download.pytorch.org/whl/cpu

# SentenceTransformers (compatible with CPU-only PyTorch)
sentence-transformers==2.7.0